.focused {
    outline: 1px solid rgb(78, 78, 78) !important;
    margin: 0;
    padding: 0;
}

.menu_search_bar {
    position: relative;
    padding: 0;
}

.menu_search_bar .autocomplete-items {
    padding: 10px;
    position: absolute;
    z-index: 99;
    background: #fff;
    top: 100%;
    margin: 0;
    /* display: flex; */
    flex-wrap: wrap;
    left: 0;
    right: 0;
    align-content: flex-start;
    width: -webkit-fill-available;
    border: 1px solid #ced4da;
    border-radius: 5px;
}

.menu_search_bar .autocomplete-items a {
    text-decoration: none;
    color: #000;
    margin: 5px 0px;
    cursor: pointer;
    width: 100%;
    height: 40px;
    font-size: 14px;
    background: #f2f2f2;
    display: flex !important;
    flex-wrap: wrap;
    align-items: center !important;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #d9d9d9;
}

.menu_search_bar .autocomplete-items a:hover {
    background: #e9e9e9;
}

.menu_search_bar .autocomplete-items a:active {
    background: #e9e9e9;
    outline: 1px solid rgb(78, 78, 78) !important;
}

body[data-sidebar-color=gradient] .menuitem-active>a {
    color: #ffffffb3 !important;
}

.tox-notifications-container {
    display: none;
}

.images_row {
    background: transparent;
    row-gap: 0.5em;
}

.modal_images_row {
    height: 400px;
    overflow-y: scroll;
    row-gap: 0.725em;
}

.modal_images_row .image-box {
    border: 2px solid transparent;
}

.modal_images_row .image-box.selected-box {
    border-color: lightseagreen;
}

.images_row div.image-box {
    background: gainsboro;
}

.img-fluid.rounded {
    height: 150px;
    object-fit: contain;
    width: 100%;
    background: #8080802e;
    padding: 5px;
}

.col-gap-2 {
    column-gap: 2em;
}

/* .tox-editor-container .tox-editor-header {
    opacity: 0.1;
} */

/* .show-menubar .tox-editor-header {
    opacity: 1;
} */

#side-menu .nav-second-level {
    /* background: rgb(89, 57, 154); */
    background: black;
    /* box-shadow: rgb(82 53 145) 0px 5px 5px inset; */
    box-shadow: rgb(0, 0, 0) 0px 5px 5px;
    padding-left: 25px;
}

.menu-arrow {
    top: 22px;
}

.tox .tox-toolbar__group:last-child button {
    background-color: #2196f3;
    color: #fff;
}

.logo-box {
    width: 190px;
}

.left-side-menu {
    width: 190px;
}

#side-menu img {
    width: 17px;
    margin-right: 5px;
    filter: brightness(0) invert(1);
}

.logo-box a:hover {
    /* background: #4e3490; */
    background: black;
}

#sidebar-menu>ul>li>a {
    padding: 10px;
    font-size: 14px !important;
}

#sidebar-menu>ul>li>a:hover {
    /* background: #4e3490; */
    background: black;
}

.content-page {
    margin-left: 170px;
}

.footer {
    left: 190px;
}

.admin-navbar {
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999999;
    display: none;
}

.admin-navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 5px 10px;
    text-decoration: none;
}